html, body {
      height: 100%;
      margin: 0;
      text-align: center;
      font-family: sans-serif;
      font-size: 1vmax;
}

#intro {
      height: calc(30% - 50px);
      margin: 0 auto;
      background-color: #464646;
      padding-top: 50px;
}

#links {
      height: calc(70% - 50px);
      margin: 0 auto;
      padding-top: 50px;
      /*background: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);*/
}

#contact {
      padding-top: 30px;
      font-size: 2em;
      /*color: #000;*/
}

#contact * {
      color: #000;
}

section > * {
      max-width: 640px;
      margin: 0 auto;
}

h1 {
      font-size: 4em;
      color: #fff;
}

description {
      font-size: 3em;
      color: #E1E4E6;
}

ul {
      list-style: none;
      padding-left: 0;
      font-size: 3em;
}

li {
      /*padding-bottom: 10px;*/
}
a {
      display: inline-block;
      text-decoration: none;
      color: #000;
      padding: 0.3em;
      /*line-height: 1.5em;*/
}

a:hover {
      text-decoration: none;
      color: #ffffff;
      background: #408ad2;
}